---
import Layout from '../../layouts/Layout.astro';
import { Image } from "astro:assets";

// Global components
import Header from '../../components/common/Header.astro';
import Footer from '../../components/common/Footer.astro';
import Clients from '../../components/Clients.astro';
import MarketingSolutions from '../../components/MarketingSolutions.astro';
import Partners from '../../components/Partners.astro';
import Testimonials from '../../components/Testimonials.astro';

// Forms
import HeroForm from "../../forms/HeroForm.astro";
import { PopupForm } from "../../forms/PopupForm";

// Buttons
import { CtaButton } from '../../components/ui/buttons/CtaButton';

// Images
import heroBg from "../../images/home-hero-bg.jpg";
import heroBgMobile from "../../images/home-hero-bg-mobile.jpg";
import leadImg1 from "../../images/lead-img-1.jpg";
import leadImg2 from "../../images/lead-img-2.jpg";
import StarSrc from '../../images/icons/rate-star.svg';
import enquireImg from "../../images/square-crystal.jpg";
import iPad from "../../images/ipad-sentr.png";
---
<Layout title="Superist - Your Global Digital Network">
	<main class="relative">
		<Header/>
		<!-- <section class="home-hero relative overflow-hidden bg-black-bg w-screen h-screen min-h-[650px] m-0">
			<div class="absolute z-40 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full text-center pb-[5rem]">
				<h1 class="text-white-peral text-center mt-[4rem] mb-[1rem] lg:mb-[2rem] text-[2rem] md:text-[3rem] lg:text-[4rem]">We are <span class="blue-text-highlight">Superist.</span><br/>Your Global Ambitions, <br/>Our China Expertise</h1>
				<CtaButton>GET A FREE QUOTE</CtaButton>
			</div>
			<div class="absolute z-30 right-0 bottom-[1.5rem] left-0">
				<div class="scroll-downs block sm:hidden md:block m-auto mt-5 lg:mt-10 w-[28px]">
					<div class="mouse">
						<div class="scroller"></div>
					</div>
				</div>
				<Image class="block m-auto mt-4 w-[7px] lg:w-[11px]" src={Arrow} alt="Scroll arrow"/>
			</div>
		</section> -->
		<section class="home-hero relative overflow-hidden bg-black-bg w-screen sm:pt-[9rem] sm:pb-[4rem] m-0 grid md:content-center">
			<div class="container px-[1rem] sm:px-[3rem] z-[99] mt-[5rem] md:mt-0">
				<div class="sm:w-3/5">
					<h1 class="form-hide text-white-peral font-termina mt-[4rem] mb-[1rem] lg:mb-[2rem] text-[2rem] sm:text-[2.2rem]  md:text-[2.5rem] lg:text-[3rem] xl:text-[3.5rem]">Skyrocket your revenue & scale your brand with 2 FREE months of SEO</h1>
					<HeroForm>Get 2 Free Months SEO</HeroForm>
				</div>
			</div>
			<Image class="page-header-bg" src={heroBg} alt="We are Superist. Your Global Ambitions, Our China Expertise"/>
			<div class="mobile-hero-bg-wrap">
				<Image class="block sm:hidden w-full" src={heroBgMobile} alt="We are Superist. Your Global Ambitions, Our China Expertise"/>
			</div>
			<div class="bg-mask absolute top-0 right-0 bottom-[60%] left-0 z-[98] bg-gradient-to-b from-black to-transparent"></div>
		</section>
		<Clients>
			From start-ups to Fortune 500 companies, we work with brands to grow their revenue.
		</Clients>
		<MarketingSolutions
			title="Integrated Marketing Solutions" 
			para="Whether you're looking to put your first step into China's market or the outside world, choosing Superist means unlocking access to first-in-market media products, collaborative strategies as well as inside intel with our network of partners."/>
		<section>
			<div class="container container-narrow px-0 sm:px-[2rem]">
				<div class="flex flex-col sm:flex-row items-stretch">
					<div class="sm:w-1/2">
						<Image class="mb-8 sm:mb-0 sm:rounded-[20px]" src={leadImg1} alt="Shanghai"/></div>
					<div class="self-center sm:w-1/2 px-[1rem] md:px-0">
						<div class="sm:pl-[4rem]">
							<h2 class="mb-4">Get more leads and sales than you can handle with SEO services.</h2>
							<div class="para font-[300] mb-5">
								<p>Why wait a year for results when you can experience jaw-dropping growth within 90 days? With our unique, high-octane strategies, you’ll watch your revenue and traffic soar while the competition is still warming up.</p>
                                <PopupForm client:only="react"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
        <section>
			<div class="container container-narrow px-0 sm:px-[2rem]">
				<div class="flex flex-col sm:flex-row items-stretch">
					<div class="sm:w-1/2 order-1 md:order-2">
						<Image class="mb-8 sm:mb-0 sm:rounded-[20px]" src={leadImg2} alt="Shanghai"/>
					</div>
					<div class="self-center sm:w-1/2 px-[1rem] md:px-0 order-2 md:order-1">
						<div class="sm:pl-[4rem] md:pl-0 md:pr-[4rem]">
							<h2 class="mb-4">Fed up with subpar SEO that doesn’t hit the mark?</h2>
							<div class="para font-[300] mb-5">
								<p>
                                    <ul>
                                        <li>Need more leads and sales?</li>
                                        <li>Tired of pouring money into paid ads with little return?</li>
                                        <li>Struggling to appear on the first page of search results?</li>
                                        <li>Keen to skyrocket your organic traffic, but unsure where to start?</li>
                                    </ul>
                                </p>
                                <p>Don't jeopardise your company by choosing the wrong agency. Get Superist to transform your business and 10x your ROI!</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="bg-cloud-gray my-0 py-[2rem] md:py-[4rem]">
			<div class="container">
				<div class="max-w-[800px] mx-auto text-left md:text-center">
					<h2 class="mb-4 md:mb-6">
						Our client's success stories speak for themselves.
					</h2>
					<div class="rating flex justify-center mb-4">
                        <Image width="33" src={StarSrc} alt=""/>
                        <Image width="33" src={StarSrc} alt=""/>
                        <Image width="33" src={StarSrc} alt=""/>
                        <Image width="33" src={StarSrc} alt=""/>
                        <Image width="33" src={StarSrc} alt=""/>
                    </div>
					<p class="mb-4 leading-[22.4px]">Once you talk to one of the Superist guys you immediately feel the energetic, creative, fresh spirt. The first meetings were with Tony, who exactly understood our vision of our social media idea and he added value input, resulting in a clear strategy. In parallel, we evaluated two other marketing agencies, however we made our decisions towards Superist due to fact that they gave the best input, ideas and hints.</p>
					<p class="mb-6 w-full"><strong>Ulrich Dosch</strong></p>
					<PopupForm client:only="react"/>
				</div>
			</div>
		</section>
		
		<Testimonials>
			See what our clients are saying!
		</Testimonials>
		<Partners 
			titleStyle="h2" 
			title="Unrivalled Negotiation Prowess With Our Network" 
			para="Our extensive partner network allows us access to cutting-edge media offerings, collaborative strategies, and valuable insights. Choose Superist and stay steps ahead of your competition at the forefront of your industry."/>
		<section class="overflow-x-hidden">
			<div class="container container-narrow relative px-0 sm:px-[2rem]">
				<div class="relative flex flex-col md:flex-row items-stretch z-[10]">
					<div class="md:w-1/2 order-1 md:order-2 flex items-center relative">
						<Image class="md:max-w-[200%]" src={iPad} alt="Sentr"/>
					</div>
					<div class="self-center md:w-1/2 px-[1rem] sm:px-0 order-2 sm:order-1">
						<div class="sm:pr-[4rem]">
							<h2 class="mb-4">The Superist engine is powered by our proprietary technology - SENTR™</h2>
							<div class="para font-[300] mb-5">
								<p>Built with you in mind, SENTR™ is the system that separates Superist from other second-rate agencies. SENTR™ enables you to…</p>
								<ul>
									<li>Have all your campaign data at your fingertips</li>
									<li>Get access to reports that are simple to understand</li>
									<li>Stay on top of digital trends</li>
									<li>Save crucial time on communicating</li>
									<li>Leapfrog your competition your competition with daily insights</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container container-narrow px-0 sm:px-[1rem]">
				<div class="flex flex-col sm:flex-row items-stretch bg-black-bg sm:rounded-[20px]">
					<div class="text-white-peral self-center sm:w-1/2">
						<div class="px-[1rem] py-[3rem] sm:px-[3rem]">
							<h2 class="mb-4">Enquire now for 2 free months of xSEO!</h2>
							<p class="mb-8 text-white">Double the value, double the growth!</p>
							<PopupForm client:only="react"/>
						</div>
					</div>
					<div class="sm:w-1/2 overflow-hidden">
						<Image class="sm:rounded-r-[20px] h-full object-cover" src={enquireImg} alt="Enquire for 2 free months of SEO!"/>
					</div>
				</div>
			</div>
		</section>
		<Footer/>
	</main>
</Layout>

<!-- <style lang="scss">
	.mobile-hero-bg-wrap {
		@apply
		relative
		top-[-1px];

		&::before {
			@apply
			hidden
			content-[''] 
			absolute 
			w-full 
			h-[80px]
			z-[99] 
			top-0
			left-0 
			bg-gradient-to-b
			from-black-bg
			via-[#2f2f2f];
		}
	}
</style> -->

<!-- <style>
	.mouse {
		width: 3px;
		padding: 5px 10px;
		height: 28px;
		border: 3px solid #fff;
		border-radius: 25px;
		opacity: 1;
		box-sizing: content-box;
	}
	.scroller {
		width: 3px;
		height: 10px;
		border-radius: 25%;
		background-color: #fff;
		animation-name: scroll;
		animation-duration: 2.2s;
		animation-timing-function: cubic-bezier(.15,.41,.69,.94);
		animation-iteration-count: infinite;
	}
	@keyframes scroll {
		0% { opacity: 0; }
		10% { transform: translateY(0); opacity: 1; }
		100% { transform: translateY(15px); opacity: 0;}
	}
</style> -->